<!-- LeftSideBarDashBoard Starting -->
    <div class="leftSideBar win" id="menuBar">
        <div class="menuIcons">
            <div class="sideBarIcons">
                <a href="#"><i class="fa fa-home"></i></a>
                <a href="#"><i class="fa fa-home"></i></a>
                <a href="#"><i class="fa fa-american-sign-language-interpreting"></i></a>
                <a href="#"><i class="fa fa-home"></i></a>
                <a href="#"><i class="fa fa-home"></i></a>
                <a href="#"><i class="fa fa-bell-slash"></i></a>
                <a href="#"><i class="fa fa-bitcoin"></i></a>
                <a href="#"><i class="fa fa-home"></i></a>
                <a href="#"><i class="fa fa-home"></i></a>
                <a href="#"><i class="fa fa-american-sign-language-interpreting"></i></a>
                <a href="#"><i class="fa fa-home"></i></a>
                <a href="#"><i class="fa fa-home"></i></a>
                <a href="#"><i class="fa fa-bell-slash"></i></a>
                <a href="#"><i class="fa fa-bitcoin"></i></a>
                <a href="#"><i class="fa fa-home"></i></a>
                <a href="#"><i class="fa fa-home"></i></a>
                <a href="#"><i class="fa fa-american-sign-language-interpreting"></i></a>
                <a href="#"><i class="fa fa-home"></i></a>
                <a href="#"><i class="fa fa-home"></i></a>
                <a href="#"><i class="fa fa-bell-slash"></i></a>
                <a href="#"><i class="fa fa-bitcoin"></i></a>
                <a href="#"><i class="fa fa-home"></i></a>
                <a href="#"><i class="fa fa-home"></i></a>
                <a href="#"><i class="fa fa-american-sign-language-interpreting"></i></a>
                <a href="#"><i class="fa fa-home"></i></a>
                <a href="#"><i class="fa fa-home"></i></a>
                <a href="#"><i class="fa fa-bell-slash"></i></a>
                <a href="#"><i class="fa fa-bitcoin"></i></a>
            </div>
        </div>
        <ul id="ul" class="navBar">
            <li>
                <a href="@Url.Action("Index","Home",new {Area = "" })" class="anchor_event">
                    <i class="fa fa-home icon"></i>Dashboard
                </a>
            </li>
            <li class="li_collapse">
                <a href="#" class="anchor-design">
                    <i class="fa fa-home icon"></i>College
                    <i class="fa fa-angle-right rytArrowBtn"></i>
                </a>
                <ul class="submenu">
                    <li style="border:none;"><a href="@Url.Action("List","College",new { Area = "College"})"><i class="fa fa-bitcoin icon"></i>Request Pass</a></li>
                    <li class="borderTop"><a href="@Url.Action("List","StudentAuthorization",new { Area = "College"})"><i class="fa fa-bitcoin icon"></i>Authorize Student</a></li>
                    <li><a href="#"><i class="fa fa-bitcoin icon"></i>Contact121</a></li>
                    <li style="border:none;"><a href="#"><i class="fa fa-bitcoin icon"></i>Block Student</a></li>
                    @*<li style="border:none;"><a href="#">Request Pass</a></li>*@
                </ul>
            </li>
            <li class="li_collapse">
                <a href="#" class="anchor-design">
                    <i class="fa fa-american-sign-language-interpreting icon"></i>Admin
                    <i class="fa fa-angle-right rytArrowBtn"></i>
                </a>
                <ul class="submenu">
                    <li class="borderTop"><a href="@Url.Action("List", "User", new { Area = "Admin" })"><i class="fa fa-bitcoin icon"></i>User</a></li>
                    <li><a href="@Url.Action("List","Role",new { Area = "Admin"})"><i class="fa fa-male icon"></i>Role</a></li>
                    <li><a href="@Url.Action("List", "Fairs", new { Area = "Admin" })"><i class="fa fa-bitcoin icon"></i>Fair</a></li>
                    <li><a href="@Url.Action("List","CollegePermission",new { Area = "Admin"})"><i class="fa fa-bitcoin icon"></i>Permission</a></li>
                    <li><a href="@Url.Action("List","Country",new { Area = "Admin"})"><i class="fa fa-bitcoin icon"></i>Country</a></li>
                    <li><a href="@Url.Action("List","State",new { Area = "Admin"})"><i class="fa fa-bitcoin icon"></i>State</a></li>
                    <li><a href="@Url.Action("List","Designation",new { Area = "Admin"})"><i class="fa fa-bitcoin icon"></i>Designation</a></li>
                    @*<li><a href="#"> data-toggle="modal" data-target="Designation1Modal"> Designation1</a></li>*@
                </ul>
            </li>
            <li class="li_collapse">
                <a href="#" class="anchor-design">
                    <i class="fa fa-american-sign-language-interpreting icon"></i>Our College
                    <i class="fa fa-angle-right rytArrowBtn"></i>
                </a>
                <ul class="submenu">
                    <li class="borderTop"><a href="#"><i class="fa fa-bitcoin icon"></i>Product</a></li>
                    <li><a href="#contact121"><i class="fa fa-bitcoin icon"></i>Contact121</a></li>
                    <li style="border:none;"><a href="#about"><i class="fa fa-bitcoin icon"></i>About us</a></li>
                </ul>
            </li>
            <li class="li_collapse">
                <a href="#" class="anchor-design">
                    <i class="fa fa-home icon"></i>Our Managment
                    <i class="fa fa-angle-right rytArrowBtn"></i>
                </a>
                <ul class="submenu">
                    <li class="borderTop"><a href="#"><i class="fa fa-bitcoin icon"></i>Product</a></li>
                    <li><a href="#"><i class="fa fa-bitcoin icon"></i>Contact121</a></li>
                    <li style="border:none;"><a href="#"><i class="fa fa-bitcoin icon"></i>About us</a></li>
                </ul>
            </li>
            <li class="li_collapse">
                <a href="#" class="anchor-design">
                    <i class="fa fa-bitcoin icon"></i>Bitcoins Currecy
                    <i class="fa fa-angle-right rytArrowBtn"></i>
                </a>
                <ul class="submenu">
                    <li class="borderTop"><a href="#"><i class="fa fa-bitcoin icon"></i>Product</a></li>
                    <li><a href="#"><i class="fa fa-bitcoin icon"></i>Contact121</a></li>
                    <li style="border:none;"><a href="#"><i class="fa fa-bitcoin icon"></i>About us</a></li>
                </ul>
            </li>
            <li class="li_collapse">
                <a href="#" class="anchor-design">
                    <i class="fa fa-bitcoin icon"></i>Bitcoins
                    <i class="fa fa-angle-right rytArrowBtn"></i>
                </a>
                <ul class="submenu">
                    <li class="borderTop"><a href="#bitcoin"><i class="fa fa-bitcoin icon"></i>Product</a></li>
                    <li><a href="#"><i class="fa fa-bitcoin icon"></i>Contact121</a></li>
                    <li style="border:none;"><a href="#"><i class="fa fa-bitcoin icon"></i>About us</a></li>
                </ul>
            </li>
            <li class="li_collapse">
                <a href="#" class="anchor-design">
                    <i class="fa fa-bitcoin icon"></i>Bitcoins
                    <i class="fa fa-angle-right rytArrowBtn"></i>
                </a>
                <ul class="submenu">
                    <li class="borderTop"><a href="#"><i class="fa fa-bitcoin icon"></i>Product</a></li>
                    <li><a href="#"><i class="fa fa-bitcoin icon"></i>Contact121</a></li>
                    <li style="border:none;"><a href="#"><i class="fa fa-bitcoin icon"></i>About us</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- LeftSideBarDashBoard Closed -->
    
