@model BT_Model.CollegeModel.CollegeModel
@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/BT_Layout.cshtml";
    var countries = ViewBag.Countries;
    var states = ViewBag.States;
    var districts = ViewBag.Districts;
    var cities = ViewBag.Cities;
}
<style>
	fieldset {
		border-radius: 15px;
		border: 1px solid #84a9ac;
		padding-bottom: 17px;
	}

		fieldset legend {
			border: none;
			font-size: 14px;
		}

	.form-control {
		height: 25px !important;
		padding: 2px 12px;
		font-size: 12px;
	}

	.mainRow {
		padding: 0 15px;
		padding-top: 15px;
		padding-bottom: 127px;
		background:white;
	}

	.marginTop {
		margin-top: -15px;
	}
</style>

@*<div class="panel-blue" style="height:100vh">
	<div class="row panel-heading">
		<div class="col-md-6 col-sm-6">
			<b class="px-2 titleHeader">College</b>
		</div>
		<div class="col-md-6 col-sm-6 pr-4">
			<div class="pull-right px-2 titleHeader" style="">
				<a href="#" class="white-link" onclick="location.href='@Url.Action("List","College",new {Area = "College" })'"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>*@



@* bgDanger Header For CollegeView *@
<header>
	<div class="row p-1 mr-0">
		<div class="col-md-6 col-6">
			<span>College</span>
		</div>
		<div class="col-md-6 col-6 text-right">
			<i class="fa fa-arrow-left"></i>
		</div>
	</div>
</header>

@* horiZental Form layout Starting One row with two column merge.... *@
@using (Ajax.BeginForm("Create", "College", new AjaxOptions { OnSuccess = "" }, new { @class = "form-group", @id = "frm_CreateCollege", Role = "form" }))
{


	<div class="row m-0 mainRow" >
		@* First Column Starts *@
		<div class="col-lg-6 col-sm-12">
			<fieldset class="px-3">
				<legend class="w-auto"><b>College Details</b></legend>
				<div class="form-group row">
					<label for="clgname" class="col-sm-5 offset-sm-1 col-form-label">College Name</label>
					<div class="col-sm-5">
						@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group row">
					<label for="code" class="col-sm-5 offset-sm-1 col-form-label">Code</label>
					<div class="col-sm-5">
						@Html.TextBoxFor(x => x.Code, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group row">
					<label for="code" class="col-sm-5 offset-sm-1 col-form-label">State</label>
					<div class="col-sm-5">
						@Html.DropDownListFor(x => x.StateId, new SelectList(states, "Value", "Text"), new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group row">
					<label for="code" class="col-sm-5 offset-sm-1 col-form-label">District</label>
					<div class="col-sm-5">
						@Html.DropDownListFor(x => x.DistrictId, new SelectList(districts, "Value", "Text"), new { @class = "form-control" })
					</div>
				</div>
                <div class="form-group row">
                    <label for="code" class="col-sm-5 offset-sm-1 col-form-label">City</label>
                    <div class="col-sm-5">
                        @Html.DropDownListFor(x => x.CityId, new SelectList(cities, "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>

			</fieldset>
			@* FOR CHECKBOXES *@
			<h4 style="margin-top:100px;"><strong>Qualifications</strong></h4>
			<div class="form-group col-md-12 p-0 mt-2">

				<label class="checkbox-inline">
					<input type="checkbox" value=""><span>BCOM</span>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" value=""><span>BCOM</span>
				</label>


				<label class="checkbox-inline">
					<input type="checkbox" value=""><span>BCOM</span>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" value=""><span>BCOM</span>
				</label>



			</div>
		</div>

		@* Second Column Starts *@
        <div class="col-lg-6  col-12 marginTop">
            <h3 class="mb-5 offset-sm-1" style="font-size:20px;"><b>Director details</b></h3>
            <div class="form-group row">
                <label for="fName" class="col-sm-4 offset-sm-1 col-form-label">FirstName</label>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.CollegeDirector.FirstName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="lName" class="col-sm-4  offset-sm-1 col-form-label">LastName</label>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.CollegeDirector.LastName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="lName" class="col-sm-4  offset-sm-1 col-form-label">Code</label>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.CollegeDirector.Code, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                @Html.RadioButtonFor(x => x.CollegeDirector.GenderId, enumGenderType.Male,new { @checked = true }) <span>Male</span>
                @Html.RadioButtonFor(x => x.CollegeDirector.GenderId,enumGenderType.Female, new { @checked = true }) <span>Femle</span>
                @*<label for="lName" class="col-sm-4  offset-sm-1 col-form-label">Code</label>
        <div class="col-sm-7">
            @Html.TextBoxFor(x => x.CollegeDirector.Code, new { @class = "form-control" })
        </div>*@
            </div>
            <div class="form-group row">
                <label for="contactNo" class="col-sm-4  offset-sm-1 col-form-label">ContactNo</label>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.CollegeDirector.Contact, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="code" class="col-sm-4 offset-sm-1 col-form-label">Country</label>
                <div class="col-sm-7">
                    @Html.DropDownListFor(x => x.CollegeDirector.DirectorCountryId, new SelectList(countries, "Value", "Text"), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="code" class="col-sm-4 offset-sm-1 col-form-label">State</label>
                <div class="col-sm-7">
                    @Html.DropDownListFor(x => x.CollegeDirector.DirectorStateId, new SelectList(states, "Value", "Text"), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="code" class="col-sm-4 offset-sm-1 col-form-label">District</label>
                <div class="col-sm-7">
                    @Html.DropDownListFor(x => x.CollegeDirector.DirectorDistrictId, new SelectList(districts, "Value", "Text"), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="code" class="col-sm-4 offset-sm-1 col-form-label">City</label>
                <div class="col-sm-7">
                    @Html.DropDownListFor(x => x.CollegeDirector.DirectorCityId, new SelectList(cities, "Value", "Text"), new { @class = "form-control" })
                </div>
            </div>
            @* CUSTOM BUTTON DESIGN *@
            <div class="row mt-5">
                <div class="col-md-12 text-right">
                    <input class="btnDesign btn btn-primary" type="button" value="Close">
                    <input class="btnDesign btn btn-primary" type="submit" id="btn_SaveCollege" value="Save">
                </div>
            </div>
        </div>
	</div>
}


